<div class="improvements-tab-container">
  <div class="improvements-tab-header">
    <div class="improvements-tab-overview">
      <div class="improvements-tab-overview-header">
        <h1 class="header-title" ng-click="reroll()">Overview</h1>
        <a class="view-resolved-tasks" href="#">
          <img class="time-machine" ng-src="<[getStaticImageUrl('/icons/time_machine.svg')]>">
          <span class="text">View Resolved Tasks</span>
          <i class="material-icons chevron-right">chevron_right</i>
        </a>
      </div>
      <div class="improvements-tab-overview-body">
        <div class="improvements-tab-summary">
          <div class="improvements-pending-summary">
            <strong class="count"><[getImprovementsPending()]></strong>
            <p class="units">Total Improvements pending</p>
          </div>
          <div class="exploration-health-summary" ng-class="[getExplorationHealth()]">
            <span class="outer-dot">
              <span class="inner-dot">&nbsp;</span>
            </span>
            <p class="exploration-health"><[getExplorationHealth()]></p>
          </div>
        </div>
        <ul class="improvements-tab-navigation" ng-if="getImprovementsPending() > 0">
          <li class="improvements-tab-navigation-item">
            <a class="task-scope" href="#">
              <span class="dot-warning">&nbsp;</span>
              <strong class="number">2</strong><span class="content">exploration-level</span>
              <i class="material-icons chevron-right">chevron_right</i>
            </a>
          </li>
          <li class="improvements-tab-navigation-item">
            <a class="task-scope" href="#">
              <span class="dot-warning">&nbsp;</span>
              <strong class="number">2</strong><span class="content">concept-level</span>
              <i class="material-icons chevron-right">chevron_right</i>
            </a>
          </li>
          <li class="improvements-tab-navigation-item">
            <a class="task-scope" href="#">
              <span class="dot-critical">&nbsp;</span>
              <strong class="number">4</strong><span class="content">card-level</span>
              <i class="material-icons chevron-right">chevron_right</i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="improvements-tab-completion-rate">
      <completion-graph completion-rate="getCompletionRate()"></completion-graph>
      <p class="value"><[getCompletionRateAsPercent()]></p>
      <p class="label">Exploration Completion Rate</p>
    </div>
  </div>
  <div class="improvements-tab-body">
    TODO
  </div>
</div>
