<div class="beam-job-run-dialog">
  <mat-card class="beam-job-run-summary-card mat-elevation-z0">
    <mat-card-header>
      <mat-icon class="beam-job-run-summary-icon"
                mat-card-avatar
                [color]="beamJobRun.getJobStatusMaterialThemeColor()"
                [matTooltip]="beamJobRun.getJobStatusTooltipString()">
        {{ beamJobRun.getJobStatusMaterialIconCode() }}
      </mat-icon>
      <mat-card-title>{{ beamJobRun.jobName }} output</mat-card-title>
      <mat-card-subtitle>ID: {{ beamJobRun.jobId }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <table class="beam-job-run-summary-table">
        <tr>
          <th>Started on</th>
          <td>{{ beamJobRun.jobStartedOnMsecs | date:'short' }}</td>
        </tr>
        <tr>
          <th>Last updated</th>
          <td>{{ beamJobRun.jobUpdatedOnMsecs | date:'short' }}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-dialog-content>
    <mat-tab-group *ngIf="output !== null && !output.isEmpty()">
      <mat-tab *ngIf="output.stdout" label="Output" aria-label="Output">
        <ng-template matTabContent>
          <pre class="beam-job-run-output">{{ output.stdout }}</pre>
        </ng-template>
      </mat-tab>
      <mat-tab *ngIf="output.stderr" label="Errors" color="warn" aria-label="Errors">
        <ng-template matTabContent>
          <pre class="beam-job-run-output">{{ output.stderr }}</pre>
        </ng-template>
      </mat-tab>
    </mat-tab-group>

    <div *ngIf="output !== null && output.isEmpty()" class="beam-job-run-output">
      <em>No output</em>
    </div>

    <mat-progress-bar *ngIf="output === null"
                      mode="indeterminate"
                      class="oppia-align-center oppia-vcenter"
                      color="accent">
    </mat-progress-bar>
  </mat-dialog-content>

  <mat-dialog-actions class="beam-job-run-output-actions">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-fab color="accent"
            [disabled]="output === null || output.isEmpty()"
            [cdkCopyToClipboard]="getOutput()">
      <mat-icon>content_copy</mat-icon>
    </button>
  </mat-dialog-actions>
</div>

<style>
  .beam-job-run-summary-card {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
  .beam-job-run-summary-icon {
    font-size: 30px;
  }
  .beam-job-run-summary-table td, .beam-job-run-summary-table th {
    padding: 10px;
  }
  .beam-job-run-dialog {
    font-size: 12px;
    width: 600px;
  }
  .beam-job-run-output {
    background-color: rgba(0, 0, 0, 0.06);
    max-height: 300px;
    overflow-x: auto;
    overflow-y: auto;
    padding: 1em;
    white-space: pre;
    word-wrap: normal;
  }
  .beam-job-run-output-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
</style>
